{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Crear Servicio{% endblock title %}
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Crear Servicio</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Servicios </a></li>
                                <li class="breadcrumb-item active"> Crear servicio </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 60px;" >
                    <div style="align-items: center;">
                        <form action="" onsubmit="onSubmitForm" id="agregar" novalidate method=" ">  <!-- basado en compras -->
                            
                            {% csrf_token %}
                            <input type="hidden" />
                            <div class="row">

                                <input name="idActual" value="{{mostrar.idServicio}}"/>

                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Nombre</label>
                                        <input name="nombre" type="text" required
                                            data-pristine-required-message="Por favor ingrese el nombre " value="{{mostrar.nServicio}}"
                                            class="form-control" readonly/>
                                    </div>

                                </div>
                                

                                <div class=" col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Tiempo</label>
                                        <input name="tiempo" type="text" data-pristine-required-message="Por favor ingrese el tiempo" value="{{mostrar.tiempo}}" placeholder="{{mostrar.tiempo}}" required class="form-control" readonly />
                                    </div>
                                </div>


                                <div class="form-check form-switch form-switch-md mb-3" dir="ltr" style="margin-left: 15px;">
                                    <input type="checkbox" class="form-check-input" id="customSwitchsizemd">
                                    <label class="form-check-label" for="customSwitchsizemd">Estado</label>
                                </div>
                            </div>
                            <!-- end row -->
                            

                            <!-- insumos usados -->


                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label class="form-label">Nombre del insumo</label>
                                    <select name="insumo" class="form-select">
                                        {% for listar in insumo %}
                                        <option value="{{listar.nombreInsumo}}">{{listar.nombreInsumo}}</option>
                                        {% endfor %} 
                                    </select>
                                </div>
                            </div>  

                            <div class="col-md-12">
                                <label for="example-datetime-local-input" class="form-label">Cantidad del insumo utilizado</label>
                                <input name="cantidad" type="number" value="0" data-pristine-required-message="Por favor ingrese la cantidad utilizada" required class="form-control" />
                            </div>

                            <div class="col-md-12">
                                <label for="example-datetime-local-input" class="form-label">Costo total del servicio</label>
                                <input name="valor" type="number" value="1" maxlength="6"  pattern="[^\s][A-z-À-ž\s]+" oninvalid="this.setCustomValidity('Debes ingresar un costo. Este debe ser de mínimo 1000.')" required class="form-control" />
                            </div>
                            
                            <div class="form-group" style=" margin-top: 40px; margin-bottom: 50px; text-align: center;" >
                            <button type="submit"  for="agregar" class="btn btn-primary" style="width: 50%">Agregar</button>
                            <button type="button" id="borrar" class="btn btn-danger" style="width: 20%; margin-right: 20px;">Limpiar lista</button>

                            </div>
                        </form>
                    </div>

                    <div class="col-12">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="list" class="table table-nowrap align-middle">
                                    <thead>
                                        {% for listar in list %}
                                        <tr>
                                            <th>Nombre del insumo</th>
                                            <th>Cantidad utilizada</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr data-id="1">
                                            <td data-field="nombre">{{listar.insumo}}</td>
                                            <td data-field="cantidad">{{listar.cantidad}}</td>
                                            <td>
                                                <a  href="#" class="btn btn-outline-primary btn-sm">
                                                    <i class="mdi mdi-cancel mdi-24px"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-top: 40px;" >
                        <button type="submit" id="guardar" class="btn btn-primary" style="width: 20%; margin-right: 40px;">Guardar</button>
                        <a href="{% url 'Servicio' %}" type="button" class="btn btn-danger" style="width: 20%;">Cancelar</a>
                    </div>

                </div>
            </div> <!-- end col -->
        </div> <!-- container-fluid -->
    </div> <!-- End Page-content -->
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div> 
<!-- end main content-->
{% endblock content %}

{% block extra_js %}

<script type="text/javascript" src="{% static  'js/localstorageServ.js' %}"></script>


<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
{% endblock extra_js %}