{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Editar Servicio{% endblock title %}
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Editar Servicio</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Servicios </a></li>
                                <li class="breadcrumb-item active"> Editar servicio </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 60px;" >
                    <div style="align-items: center;">
                        <form action="{% url 'actualizarServicio' mostrar.idServicio %}"id="editss" novalidate method="GET">
                            {% csrf_token %}
                            <input type="hidden" />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Nombre</label>
                                        <input type="text"  required
                                            data-pristine-required-message="Por favor ingrese el nombre " placeholder="Ingrese el nombre "
                                            class="form-control" name="nombre" value="{{mostrar.nServicio}}"  />
                                            {% for x in errorS %}
                                            <p style="color:red">Error. El nombre del servicio ingresado ya existe.</p>
                                            {% endfor %}
                                    </div>
                                </div>
                
                                </div>
                                <div class=" col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Tiempo</label>
                                        <input type="text" data-pristine-required-message="Por favor ingrese el tiempo" placeholder="Ingrese el tiempo" required class="form-control" name="tiempo" value="{{mostrar.tiempo}}" />
                                    </div>
                                </div>
                                
                                <div class="form-check form-switch form-switch-md mb-3" dir="ltr" style="margin-left: 15px;">
                                    <input type="checkbox" class="form-check-input" id="customSwitchsizemd">
                                    <label class="form-check-label" for="customSwitchsizemd">Estado</label>
                                </div>
                            </div>
                            <!-- end row -->
                            <<div class="form-group" style=" display: flex; justify-content: center; align-items: center;" >
                                <button type="submit" form="editss" class="btn btn-primary" style="width: 20%; margin-right: 40px;">Guardar</button>
                                <a type="button" class="btn btn-danger" style="width: 20%;">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- container-fluid -->
    </div> <!-- End Page-content -->
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div> 
<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
{% endblock extra_js %}