{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Crear compra{% endblock title %}
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/validaciones.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Crear compra</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Paginas </a></li>
                                <li class="breadcrumb-item active">Compras > Crear Compra </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>      
            <div class="card">
                <div style="margin: 60px; " >
                    <!--  Formulario de agregar -->
                    {% for x in errorC %}
                        <div class="alert alert-danger alert-dismissible alert-label-icon label-arrow fade show"
                             role="alert" style="margin-top: 10px;">
                            <i class="mdi mdi-block-helper label-icon"></i><strong>Error.</strong> El insumo ingresado ya existe.
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    <form action="" class="formulario" onsubmit="onSubmitForm" id="agregar">
                        {% csrf_token %}
                        <input type="hidden"/>
                        <div class="row">
                            <div class="col-lg-2 formulario__grupo"  id="grupo__numeroFactura">
                                <label for="numeroFactura" class="formulario__label">Número de factura</label>
                                <div class=" formulario__grupo" id="grupo__numeroFactura">
                                    <input id="numeroFactura" name="numeroFactura" type="text" class="form-control formulario__input"/>
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error" style="color: red;">El número de factura tiene que ser de 2 a 6 dígitos y solo puede contener números.</p>
                            </div>
                            <div class=" col-lg-2">
                                <div class="mb-3 formulario__grupo">
                                    <label class="form-label">Fecha de factura</label>
                                    <div class="formulario__grupo-input">
                                        <input name="fechaRecibo" type="date" class="form-control" id="datepicker-basic">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group mb-3">
                                    <label class="form-label">Proveedor</label>
                                    <select name="proveedor" class="form-select">
                                        {% for listar in proveedor %}
                                        <option value="{{listar.proveedor}}">{{listar.proveedor}}</option>
                                        {% endfor %} 
                                    </select>
                                </div>
                            </div> 
                        </div>
                        <div class="row">
                            <!-- Productos -->
                            <div class="col-lg-2">
                                <div class="btn-group col-md-12" style="margin-top: 35px;">
                                    <a href="/FormularioAgregarInsumo/" class="btn btn-primary waves-effect btn-label waves-light"><i class="bx bx-plus label-icon"></i>
                                        Nuevo insumo
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-md-12">
                                    <label for="example-datetime-local-input" class="form-label">Productos</label>
                                    <select name="insumo" class="form-select">
                                        {% for insumo in nombreInsumo%}
                                        <option value="{{insumo.nombreInsumo}}">{{insumo.nombreInsumo}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 formulario__grupo"  id="grupo__cantidad">
                                <label for="cantidad" class="formulario__label">Cantidad</label>
                                <div class=" formulario__grupo" id="grupo__cantidad">
                                    <input id="cantidad" name="cantidad" type="text" class="form-control formulario__input"/>
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error" style="color: red;">La cantidad tiene que ser de 1 a 6 dígitos y solo puede contener números.</p>
                            </div>
                            <div class="col-lg-2">
                                <label for="example-number-input" class="form-label">Tipo de medida</label>
                                <input name="medida" class="form-control" type="text" readonly value="{{insumo.tipoUnidad}}"
                                    id="example-number-input">
                            </div>
                            <div class="row" style="margin-top: 20px;" >
                                <div class="col-md-3" id="grupo__unidades">
                                    <label class="form-label">Unidades</label>
                                    <div class=" formulario__grupo" id="grupo__unidades">
                                        <input name="unidades" id="Cantidad" class="form-control formulario__input" onkeypress="CalcularT()"
                                        type="text" value="0" onkeypress="return valideKey(event);" />
                                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                    </div>
                                    <p class="formulario__input-error" style="color: red;">La Unidades tiene que ser de 1 a 6 dígitos y solo puede contener números.</p>
                                </div>
                                <div class=" col-md-3">
                                    <div class="form-group mb-3" id="grupo__valorunidad">
                                        <label class="form-label">Valor unitario</label>
                                        <div class=" formulario__grupo" id="grupo__valorunidad">
                                            <input name="valorunidad" value="0" type="text" id="Valor_Unitario" onkeypress="CalcularT()" class="form-control formulario__input" />
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error" style="color: red;">El valor unitario tiene que ser de 1 a 7 dígitos y solo puede contener números.</p>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Iva</label>
                                        <input type="text" class="form-control"  readonly value="0%" />
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Valor total del insumo</label>
                                        <input name="subtotal" value="$0" name="subtotal" readonly id="Valor_Total_Insumo"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div class=" col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">Valor total</label>
                                        <input name="ValorTotal" value="$0"  id="ValorT" class="form-control" id="datepicker-basic">
                                    </div>
                                </div>
                                
                                <div class="form-group" style=" margin-top: 40px; margin-bottom: 20px; text-align: center;" >
                                    <button type="submit" id="crearcompra"  for="agregar" class="btn btn-primary" style="width: 20%">Agregar</button>
                                    <button type="button" id="borrar" class="btn btn-danger" style="width: 20%; margin-right: 20px;">Limpiar lista</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
                <div class="col-12">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-nowrap align-middle"> 
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                            </table>
                            <table id="list" class="table table-nowrap align-middle">
                                
                                <tbody>
                                    {% for listar in CListarInsumos %}
                                    <tr data-id="1">
                                        <td data-field="nombre">{{listar.insumo}}</td>
                                        <td data-field="cantidad">{{listar.cantidad}}</td>
                                        <td data-field="precio">{{listar.ValorUnidad}}</td>
                                        <td data-field="Total">{{listar.total}}</td>
                                        <td>
                                            <a  href="#" class="btn btn-outline-primary btn-sm">
                                                <i class="mdi mdi-cancel mdi-24px"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-top: 20px; margin-bottom: 30px;" >
                    <button type="button" id= "guardar" class="btn btn-primary" style="width: 20%; margin-right: 90px;">Guardar</button>
                    <a href="{% url 'Compra' %}" type="submit" class="btn btn-danger" style="width: 20%">Cancelar</a>
                </div>
            </div> <!-- end col -->
        </div> <!-- container-fluid -->
        
    </div> <!-- End Page-content -->
   
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>       
        
<!-- end main content-->
{% endblock content %}

{% block extra_js %}


<script type="text/javascript" src="{% static  'js/localstorage.js' %}"></script>
<script type="text/javascript" src="{% static  'js/validaciones.js' %}"></script>
<script type="text/javascript" src="{% static  'js/calculo.js' %}"></script>

<!-- Table Editable plugin -->
<script src="{% static 'libs/table-edits/build/table-edits.min.js'%}"></script>

<script src="{% static 'js/pages/table-editable.int.js'%}"></script> 
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>   
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
<script>
    

    const Cantidad = document.querySelector("#Cantidad")
    const Valor_Unitario = document.querySelector("#Valor_Unitario")
    const Valor_Total_Insumo = document.querySelector("#Valor_Total_Insumo")
    const Valor_Total = document.querySelector("#ValorT")

    const CalcularT = () => {
        Valor_Total_Insumo.value =(Valor_Unitario.value * Cantidad.value).toLocaleString("en",{
            style: "currency",
	        currency: "COP"
        });
        Valor_Total.value = Valor_Total_Insumo.value
        
    }
     
</script>
{% endblock extra_js %}