{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Crear compra{% endblock title %}
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Crear compra</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Paginas </a></li>
                                <li class="breadcrumb-item active">Compras > Crear Compra </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 60px; " >
                    <!--  Formulario de agregar -->
                    <form  action="" onsubmit="onSubmitForm" id="agregar" novalidate method="">
                        {% csrf_token %}
                        <input type="hidden"/>
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Código de compra</label>
                                    <input name="codigoCompra" type="text"class="form-control" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Número de factura</label>
                                    <input name="numeroFactura" type="text"class="form-control" />
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label class="form-label">Proveedor</label>
                                    <select name="proveedor" class="form-select">
                                        {% for listar in proveedor %}
                                        <option value="{{listar.proveedor}}">{{listar.proveedor}}</option>
                                        {% endfor %} 
                                    </select>
                                </div>
                            </div>  

                            <div class=" col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Fecha de factura</label>
                                    <input name="fechaRecibo" type="date" class="form-control" id="datepicker-basic">
                                </div>
                            </div>
                            
                            <div class=" col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Valor total</label>
                                    <input name="ValorTotal" type="number" class="form-control" id="datepicker-basic">
                                </div>
                            </div>

                            <!-- Productos -->

                            <div class="col-md-12">
                                <label for="example-datetime-local-input" class="form-label">Productos</label>
                                <input name="insumo" type="text" data-pristine-required-message="Por favor ingrese el producto" placeholder="Ingrese el producto" required class="form-control" />
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-4">
                                    <label for="example-number-input" class="form-label">Cantidad</label>
                                    <input name="cantidad" class="form-control" type="number" value="0"
                                        id="example-number-input">
                                </div>
                                <div class=" col-md-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Valor unitario</label>
                                        <input name="valorunidad" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Iva</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label class="form-label">Valor total del insumo</label>
                                    <input name="ValorTotalInsumo" type="text"class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" style=" margin-top: 40px; margin-bottom: 50px; text-align: center;" >
                                <button type="submit"  for="agregar" class="btn btn-primary" style="width: 50%">Agregar</button>
                            </div>
                        </div>
                        <!-- end row -->
                    </form>
                </div>



                <div class="col-12">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="list" class="table table-nowrap align-middle">
                                <thead>
                                    {% for listar in CListarInsumos %}
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Total</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr data-id="1">
                                        <td data-field="nombre">{{listar.insumo}}</td>
                                        <td data-field="cantidad">{{listar.cantidad}}</td>
                                        <td data-field="precio">{{listar.ValorUnidad}}</td>
                                        <td data-field="Total">{{listar.ValorInsumo}}</td>
                                        <td>
                                            <a  href="#" class="btn btn-outline-primary btn-sm">
                                                <i class="mdi mdi-cancel mdi-24px"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                
                <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-top: 20px; margin-bottom: 30px;" >
                    <button type="submit" id= "guardar" class="btn btn-primary" style="width: 20%; margin-right: 20px;">Guardar</button>
                    <a href="{% url 'Compra' %}" type="submit" class="btn btn-danger" style="width: 20%">Cancelar</a>
                </div>
            </div> <!-- end col -->
            
        </div> <!-- container-fluid -->
        
    </div> <!-- End Page-content -->
   
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>       
        
<!-- end main content-->
{% endblock content %}

{% block extra_js %}


<script type="text/javascript" src="{% static  'js/localstorage.js' %}"></script>


<!-- Table Editable plugin -->
<script src="{% static 'libs/table-edits/build/table-edits.min.js'%}"></script>

<script src="{% static 'js/pages/table-editable.int.js'%}"></script> 
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>   
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
{% endblock extra_js %}