{% extends "account/base.html" %}
{% load static %}
{% block title %}Recuperación de contraseña{% endblock title %}
{% block content %}

{% if validlink %}
<div class="auth-full-page-content d-flex p-sm-5 p-4">
  <div class="w-100">
      <div class="d-flex flex-column h-100">
          <div class="mb-4 mb-md-5 text-center">
              <a href="#" class="d-block auth-logo">
                  <img src="#" alt="" height="28"> <span class="logo-txt">Afrodita</span>
              </a>
          </div>ntent my-auto">
              <div class="text-center">
                  <h5 class="mb-0">Cambiar contraseña</h5>   
              </div>
              <form method="post" >
                  {% csrf_token %}
                  {{ form.as_p }}
              </form>
          </div>
          <div class="mt-4 mt-md-5 text-center">
              <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Wilmer Gallo Esthetique Beauté </p>
          </div>
      </div>
  </div>
</div>

{% else %}

<h1>El enlace ingresado es incorrecto.</h1>
<p>Por favor, vuelve a intentarlo.</p>

{% endif %}

{% endblock%}