{% load static %}
{% block content %}
        <div class="main-content"> 
            <div class="page-content">
                <script src="https://code.highcharts.com/highcharts.js"></script>
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">{{title}}</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">{{pageview}}</a></li>
                                        <li class="breadcrumb-item active">{{title}}</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Total de clientes</span>
                                            <h4 class="mb-3">
                                                <p>{{totalClientes}}</p>
                                            </h4>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->
    
                        <div class="col-xl-3 col-md-6">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Items</span>
                                            <h4 class="mb-3">
                                                <span class="counter-value" data-target="1256">0</span>
                                            </h4>
                                            <div class="text-nowrap">
                                                <span class="badge bg-soft-danger text-danger">-29 Trades</span>
                                                <span class="ms-1 text-muted font-size-13">Since last week</span>
                                            </div>
                                        </div>
                                        <div class="flex-shrink-0 text-end dash-widget">
                                            <div id="mini-chart2" data-colors='["#6951ce", "#f04d80"]' class="apex-charts"></div>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col-->
    
                        <div class="col-xl-3 col-md-6">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Average Sales</span>
                                            <h4 class="mb-3">
                                                $<span class="counter-value" data-target="7.54">0</span>M
                                            </h4>
                                            <div class="text-nowrap">
                                                <span class="badge bg-soft-warning text-warning">+ $2.8k</span>
                                                <span class="ms-1 text-muted font-size-13">Since last week</span>
                                            </div>
                                        </div>
                                        <div class="flex-shrink-0 text-end dash-widget">
                                            <div id="mini-chart3" data-colors='["#6951ce", "#f04d80"]' class="apex-charts"></div>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->
    
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Order Delivery</span>
                                            <h4 class="mb-3">
                                                <span class="counter-value" data-target="18.34">0</span>%
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col-xl-6Z">
                            <!-- card -->
                            <div class="card">
                                <!-- card body -->
                                <div class="card-body">
                                    <div id="container"></div>
                                </div>
                            </div>
                            <script>
                                var chart = Highcharts.chart('container', {

                                    chart: {
                                        type: 'column'
                                    },

                                    title: {
                                        text: 'Born persons, by girls\' name'
                                    },

                                    subtitle: {
                                        text: 'Resize the frame or click buttons to change appearance'
                                    },

                                    legend: {
                                        align: 'right',
                                        verticalAlign: 'middle',
                                        layout: 'vertical'
                                    },

                                    xAxis: {
                                        categories: ['2019', '2020', '2021'],
                                        labels: {
                                            x: -10
                                        }
                                    },

                                    yAxis: {
                                        allowDecimals: false,
                                        title: {
                                            text: 'Amount'
                                        }
                                    },

                                    series: [{
                                        name: 'Ava',
                                        data: [38, 51, 34]
                                    }, {
                                        name: 'Dina',
                                        data: [31, 26, 27]
                                    }, {
                                        name: 'Malin',
                                        data: [38, 42, 41]
                                    }],

                                    responsive: {
                                        rules: [{
                                            condition: {
                                                maxWidth: 500
                                            },
                                            chartOptions: {
                                                legend: {
                                                    align: 'center',
                                                    verticalAlign: 'bottom',
                                                    layout: 'horizontal'
                                                },
                                                yAxis: {
                                                    labels: {
                                                        align: 'left',
                                                        x: 0,
                                                        y: -5
                                                    },
                                                    title: {
                                                        text: null
                                                    }
                                                },
                                                subtitle: {
                                                    text: null
                                                },
                                                credits: {
                                                    enabled: false
                                                }
                                            }
                                        }]
                                    }
                                    });

                                    document.getElementById('small').addEventListener('click', function () {
                                    chart.setSize(400);
                                    });

                                    document.getElementById('large').addEventListener('click', function () {
                                    chart.setSize(600);
                                    });

                                    document.getElementById('auto').addEventListener('click', function () {
                                    chart.setSize(null);
                                    });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            {% block footer %}
            {% include 'partials/footer.html'%}
            {% endblock footer %}
        </div>
{% endblock content %}