{% load static %}

{% block header %}
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="#" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="{% static 'images/logo-sm.svg'%}" alt="" height="30">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'images/logo-sm.svg'%}" alt="" height="24"> <span class="logo-txt">Dason</span>
                            </span>
                        </a>
                        <a href="#" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="{% static 'images/Logo-C.png'%}" alt="" height="30">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'images/Logo-C.png'%}" alt="" height="24"> <span class="logo-txt" style="font-size: 18px">Afrodita</span>
                            </span>
                        </a>
                    </div>
                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars mdi-36px"></i>
                    </button>
                    <!-- App Search-->
                </div>
                <div class="d-flex">
                    <div class="dropdown d-none d-sm-inline-block">
                        <button type="button" class="btn header-item" id="mode-setting-btn">
                            <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                            <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                        </button>
                    </div>
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item bg-soft-light border-start border-end" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="{% static 'images/users/Perfil-Wilmer.jpg'%}"
                                alt="Header Avatar">
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{% url 'login' %}"><i class="mdi mdi-logout font-size-16 align-middle me-1"></i> Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock header %}
    