{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Crear corporal{% endblock title %}
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Crear compra</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Paginas </a></li>
                                <li class="breadcrumb-item active">Compras > Crear Compra </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 60px; " >
                    <!--  FORMULARIO CON VALIDACIONES -->
                    <form id="pristine-valid-example" novalidate method="post">
                        {% csrf_token %}
                        <input type="hidden"/>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Número de factura</label>
                                    <input type="text"class="form-control" />
                                </div>
                            </div>
                            <div class=" col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Fecha de factura</label>
                                    <input type="date" class="form-control" id="datepicker-basic">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label class="form-label">Proveedores</label>
                                    <select class="form-select">
                                        <option value="Chocolaterapia">Victoria secret</option>
                                        <option value="Masaje">La cantalerta</option>
                                    </select>
                                </div>
                            </div>  
                            <div class="col-md-12">
                                <label for="example-datetime-local-input" class="form-label">Productos</label>
                                <input type="text" data-pristine-required-message="Por favor ingrese el producto" placeholder="Ingrese el producto" required class="form-control" />
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-4">
                                    <label for="example-number-input" class="form-label">Cantidad</label>
                                    <input class="form-control" type="number" value="0"
                                        id="example-number-input">
                                </div>
                                <div class=" col-md-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Valor unitario</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Iva</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label class="form-label">Valor total</label>
                                    <input type="text"class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" style=" margin-top: 40px; margin-bottom: 20px;" >
                                <button type="submit" class="btn btn-primary" style="width: 20%">Agregar</button>
                            </div>
                        </div>
                        <!-- end row -->
                    </form>
                </div>
                <div class="col-12">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatable" class="table table-nowrap align-middle">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Iva</th>
                                        <th>Total</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-id="1">
                                        <td data-field="id" style="width: 80px">1</td>
                                        <td data-field="nombre">Barra de miel</td>
                                        <td data-field="cantidad">6</td>
                                        <td data-field="precio">100.000 COP</td>
                                        <td data-field="iva">19%</td>
                                        <td data-field="Total">600.000 COP</td>
                                        <td>
                                            <a  href="#" class="btn btn-outline-primary btn-sm">
                                                <i class="mdi mdi-cancel mdi-24px"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-top: 40px; margin-bottom: 20px;" >
                    <button type="submit" class="btn btn-primary" style="width: 20%; margin-right: 20px;">Crear compra</button>
                    <button type="submit" class="btn btn-danger" style="width: 20%">Cancelar</button>
                </div>
                
            </div> <!-- end col -->
            
        </div> <!-- container-fluid -->
        
    </div> <!-- End Page-content -->
   
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>       
        
<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- Table Editable plugin -->
<script src="{% static 'libs/table-edits/build/table-edits.min.js'%}"></script>

<script src="{% static 'js/pages/table-editable.int.js'%}"></script> 
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>   
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
<!-- Modal js -->
<script src="{% static 'js/pages/modal.init.js'%}"></script>

    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
        })
    </script>

{% endblock extra_js %}