<div>
    <!--  Modal Crear Cliente -->
    <div class="modal fade bs-clientes" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myExtraLargeModalLabel">Crear Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div style="margin: 60px;">
                    <!--  FORMULARIO CON VALIDACIONES -->
                    <form id="pristine-valid-example" novalidate method="post">
                        {% csrf_token %}
                        <input type="hidden" />
                        <div class="row">
                            <div class="col-xl-4 col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" required
                                        data-pristine-required-message="Por favor ingrese el nombre completo " placeholder="Ingrese el nombre completo"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Documento</label>
                                    <input type="text" data-pristine-required-message="Por favor ingrese el número de documento " placeholder="Ingrese el número de documento" required class="form-control" />
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Sexo</label>
                                    <select class="form-select">
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                    </select>
                                </div>
                            </div>  
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Estado civil</label>
                                    <select class="form-select">
                                        <option value="Soltero">Soltero</option>
                                        <option value="Casado">Casado</option>
                                        <option value="Union libre">Union libre</option>
                                        <option value="Divorciado">Divorciado</option>
                                        <option value="Viudo">Viudo</option>
                                    </select>
                                </div>
                            </div>  
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Número de hijos</label>
                                    <input type="text" data-pristine-required-message="Por favor ingrese un número de hijos " placeholder="Ingrese el número de hijos" required class="form-control" />
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Fecha de nacimiento</label>
                                    <input type="date" class="form-control" id="datepicker-basic">
                                </div>
                            </div> 
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Teléfono</label>
                                    <input type="text" data-pristine-required-message="Por favor ingrese un número de teléfono " placeholder="Ingrese el número de teléfono" required class="form-control" />
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Dirección</label>
                                    <input type="text" data-pristine-required-message="Por favor ingrese una dirección "placeholder="Ingrese la dirección" required class="form-control" />
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Correo</label>
                                    <input type="email" required
                                        data-pristine-required-message="Por favor ingresar el correo electrónico" placeholder="Ingrese el correo electrónico"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-bottom: 40px; margin-top: 20px;" >
                            <button type="submit" class="btn btn-primary" style="width: 50%;">Crear Cliente</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>