<div>
    <!--  Modal cliente Cliente -->
    <div class="modal fade bs-Eclientes" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myExtraLargeModalLabel">Editar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div style="margin: 60px;">
                    <!--  FORMULARIO CON VALIDACIONES -->
                    <form action="actualizarCliente'/{{mostrar.idCliente}}" id="pristine-valid-example" method="GET">
                        <input type="hidden" />
                        <div class="row">
                            <div class="col-xl-4 col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" name="nombre" required
                                        data-pristine-required-message="Por favor ingrese el nombre completo " placeholder="Ingrese el nombre completo"
                                        class="form-control" value="{{mostrar.nombre}}" />
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Documento</label>
                                    <input type="text" name="documento" data-pristine-required-message="Por favor ingrese el número de documento " placeholder="Ingrese el número de documento" required class="form-control" value="{{mostrar.documento}}" />
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Sexo</label>
                                    <select class="form-select" name="sexo">
                                        <option value="{{mostrar.sexo}}">{{mostrar.sexo}}</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                    </select>
                                </div>
                            </div>  
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Estado civil</label>
                                    <select class="form-select" name="estadoCivil">
                                        <option value="{{mostrar.estadoCivil}}">{{mostrar.estadoCivil}}</option>
                                        <option value="Soltero">Soltero</option>
                                        <option value="Casado">Casado</option>
                                        <option value="Union libre">Union libre</option>
                                        <option value="Divorciado">Divorciado</option>
                                        <option value="Viudo">Viudo</option>
                                    </select>
                                </div>
                            </div>  
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Número de hijos</label>
                                    <input type="text" name="numeroHijos" data-pristine-required-message="Por favor ingrese un número de hijos " placeholder="Ingrese el número de hijos" required class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Fecha de nacimiento</label>
                                    <input type="date" name="fechaNacimiento" class="form-control" id="datepicker-basic">
                                </div>
                            </div> 
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Teléfono</label>
                                    <input type="text" name="telefono" data-pristine-required-message="Por favor ingrese un número de teléfono " placeholder="Ingrese el número de teléfono" required class="form-control" value="{{listar.telefono}}"/>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Dirección</label>
                                    <input type="text" name="direccion" data-pristine-required-message="Por favor ingrese una dirección "placeholder="Ingrese la dirección" required class="form-control" value="{{listar.direccion}}"/>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Correo</label>
                                    <input type="email" name="correo" required
                                        data-pristine-required-message="Por favor ingresar el correo electrónico" placeholder="Ingrese el correo electrónico"
                                        class="form-control" value="{{listar.correo}}" />
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-bottom: 40px; margin-top: 20px;" >
                            <input type="submit" class="btn btn-primary" style="width: 50%;" value="Guardar cambios"></input>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>