{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Proveedores{% endblock title %}
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Proveedores</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Paginas</a></li>
                                <li class="breadcrumb-item active">Proveedores</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="width: 100%; height: 100%; align-items: center;">
                <div class="card border border-primary" >
                    <div class="card-header bg-transparent border-primary">
                        <h5 class="my-0 text-primary"><i class="mdi mdi-bullseye-arrow me-3"></i>Para crear un Proveedor</h5>
                    </div>
                    <div class="card-body" style="width: 100%; margin-top: 20px;">
                        <p class="card-text" style="font-size: 22px;">Para crear un nuevo proveedore presiona el botón  "Crear un proveedor", recuerda que es necesario tener toda la información registrada para
                        crear un nuevo proveedor.</p>  
                        
                    </div>
                    <div class="gap-2"  style=" display: flex; justify-content: center; align-items: center; margin-bottom: 40px;">
                        <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-proveedores" style="width: 50%;" >Crear un proveedor</button>
                        <div class="d-flex flex-wrap gap-3">
                            <div>
                                <!--  Modal Crear Proveedore -->
                                <div class="modal fade bs-proveedores" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" >
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myExtraLargeModalLabel">Crear proveedor</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                        
                                            <div style="margin: 60px;">
                                                <!--  FORMULARIO CON VALIDACIONES -->
                                                <form id="pristine-valid-example" novalidate method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" />
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group mb-3">
                                                                <label class="form-label">Nombre</label>
                                                                <input type="text" required
                                                                    data-pristine-required-message="Por favor ingrese el nombre completo " placeholder="Ingrese el nombre completo"
                                                                    class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group mb-3">
                                                                <label class="form-label">Proveedor</label>
                                                                <input type="text" data-pristine-required-message="Por favor ingrese el proveedor" placeholder="Ingrese el proveedor" required class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class=" col-md-6">
                                                            <div class="form-group mb-3">
                                                                <label class="form-label">Teléfono</label>
                                                                <input type="text" data-pristine-required-message="Por favor ingrese el número de teléfono" placeholder="Ingrese el teléfono" required class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group mb-3">
                                                                <label>Correo</label>
                                                                <input type="email" required
                                                                    data-pristine-required-message="Por favor ingrese el correo electrónico" placeholder="Ingrese el correo electrónico"
                                                                    class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class=" col-md-12">
                                                            <div class="form-group mb-3">
                                                                <label class="form-label">Dirección</label>
                                                                <input type="text" data-pristine-required-message="Por favor ingrese la dirección" placeholder="Ingrese la dirección" required class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end row -->
                                                    <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-top: 40px;" >
                                                        <button type="submit" class="btn btn-primary" style="width: 50%;">Crear Proveedor</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-nowrap align-middle">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Código</th>
                                            <th>Proveedor</th>
                                            <th>Productos</th>
                                            <th>Teléfono</th>
                                            <th>Nombre</th>
                                            <th>Correo</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-id="1">
                                            <td data-field="id" style="width: 80px">1</td>
                                            <td data-field="codigo">0001</td>
                                            <td data-field="proveedor">Belleza Ram</td>
                                            <td data-field="productos">Productos</td>
                                            <td data-field="telefono">8487877</td>
                                            <td data-field="naombre">Julian Valenzuela</td>
                                            <td data-field="correo">julianandres21@gmail.com</td>
                                            <td data-field="estado">
                                                <span class="badge badge-soft-danger" style="font-size: 14px;">Inactivo</span>
                                            </td>
                                            <td>
                                                <div class="square-switch">
                                                    <input type="checkbox" id="square-switch1" switch="none" checked />
                                                    <label for="square-switch1" data-on-label="On"
                                                        data-off-label="Off"></label>
                                                </div>
                                                <a href="#" class="btn btn-outline-primary btn-sm">
                                                    <i class="mdi mdi-file-document-edit-outline mdi-24px "></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr data-id="2">
                                            <td data-field="id" style="width: 80px">2</td>
                                            <td data-field="codigo">0002</td>
                                            <td data-field="proveedor">Belleza Ram</td>
                                            <td data-field="productos">Productos</td>
                                            <td data-field="telefono">8487877</td>
                                            <td data-field="naombre">Julian Valenzuela</td>
                                            <td data-field="correo">julianandres21@gmail.com</td>
                                            <td data-field="estado">
                                                <span class="badge badge-soft-success" style="font-size: 14px;">Activo</span>   
                                            </td>
                                            <td>
                                                <div class="square-switch">
                                                    <input type="checkbox" id="square-switch1" switch="none" checked />
                                                    <label for="square-switch1" data-on-label="On"
                                                        data-off-label="Off"></label>
                                                </div>
                                                <a href="#" class="btn btn-outline-primary btn-sm">
                                                    <i class="mdi mdi-file-document-edit-outline mdi-24px "></i>
                                                </a>
                                            </td>
                                        </tr>   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- container-fluid -->
        
    </div> <!-- End Page-content -->
   
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>       
        
<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- Table Editable plugin -->
<script src="{% static 'libs/table-edits/build/table-edits.min.js'%}"></script>

<script src="{% static 'js/pages/table-editable.int.js'%}"></script> 
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>   
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
<!-- Modal js -->
<script src="{% static 'js/pages/modal.init.js'%}"></script>

    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
        })
    </script>

{% endblock extra_js %}