{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Crear Usuario{% endblock title %}
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Crear usuario</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Usuarios </a></li>
                                <li class="breadcrumb-item active"> Crear usuario </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 60px;" >
                    <div style="align-items: center;">
                        <form action="/crearUsuario/" id="crear" novalidate method="POST"> {% csrf_token %}
                            <div class="row">
                                <div style="text-align: center; margin-bottom: 30PX;">
                                    <div class="mt-4 mt-md-0" style="margin-bottom: 20px;">
                                        <img class="img-thumbnail rounded-circle avatar-xl" alt="" src="{% static 'images/'%}" data-holder-rendered="true">
                                    </div>
                                    <button type="button" class="btn btn-primary waves-effect btn-label waves-light"><i class="bx mdi mdi-upload label-icon"></i> Subir imagen </button>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Nombre</label>
                                        <input name="nombre" type="text" required
                                            data-pristine-required-message="Por favor ingrese el nombre completo " placeholder="Ingrese el nombre completo"
                                            class="form-control" maxlength="40"/>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Documento</label>
                                        <input name="documento" type="text" data-pristine-required-message="Por favor ingrese el número de documento " placeholder="Ingrese el número de documento" required class="form-control" maxlength="10" />
                                        {% for x in error %}
                                        <p style="color:red">El documento ingresado ya existe en otro usuario.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Usuario</label>
                                        <input name="usuario" type="text" data-pristine-required-message="Por favor ingresa el usuario" placeholder="Ingresa el usuario" required class="form-control" maxlength="30"/>
                                        {% for x in errorUsuario %}
                                        <p style="color:red">El usuario ingresado ya existe.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label>Correo</label>
                                        <input name="correo" type="email" required
                                            data-pristine-required-message="Por favor ingresa el correo electrónico" placeholder="Ingresa el correo electrónico"
                                            class="form-control" maxlength="50"/>
                                            {% for x in errorCorreo %}
                                            <p style="color:red">El correo ingresado ya existe en otro usuario.</p>
                                            {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label>Contraseña (requerida)</label>
                                        <input name="contrasena" type="password" id="pwd" required
                                            data-pristine-required-message="Por favor ingresa la contraseña" placeholder="Ingresa la contraseña"
                                            data-pristine-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/"
                                            data-pristine-pattern-message="Mínimo 8 caracteres, por lo menos una mayúscula, una minúscula, y un número."
                                            class="form-control" />
                                    </div>
                                </div>
                               
                                <div class="col-md-12" style="margin-bottom: 60px;">
                                    <div class="mb-3">
                                        <label class="form-label">Rol</label>
                                        <select required class="form-control form-select">
                                            <option value="Masculino">Administrador</option>
                                            <option value="Femenino">Recepcionista</option>
                                        </select>
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-top: 40px; margin-bottom: 20px;" >
                                <button type="submit" for="crear" class="btn btn-primary" style="width: 20%; margin-right: 20px;">Guardar</button>
                                <a href="{% url 'Usuario' %}" type="submit" class="btn btn-danger" style="width: 20%">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
            
        </div> <!-- container-fluid -->
        
    </div> <!-- End Page-content -->
   
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>       
        
<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- Table Editable plugin -->
<script src="{% static 'libs/table-edits/build/table-edits.min.js'%}"></script>

<script src="{% static 'js/pages/table-editable.int.js'%}"></script> 
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>   
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
<!-- Modal js -->
<script src="{% static 'js/pages/modal.init.js'%}"></script>
{% endblock extra_js %}
