{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Editar Usuario{% endblock title %}
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Editar usuario</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Usuarios</a></li>
                                <li class="breadcrumb-item active"> Editar usuario </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 60px;" >
                    <div style="align-items: center;">
                        <form method="POST" action="{% url 'actualizarU' mostrar.id %}" id="edit" enctype="multipart/form-data"> {% csrf_token %}
                            <div class="row">
                                <div style="text-align: center; margin-bottom: 30PX;">
                                    <div class="mt-4 mt-md-0" style="margin-bottom: 20px;">
                                        <img class="img-thumbnail rounded-circle avatar-xl" alt="" src="{{mostrar.foto.url}}" data-holder-rendered="true">
                                    </div>
                                    <input name="fotop" type="file" required oninvalid="this.setCustomValidity('Debes escoger una foto de perfil.')"></input>
                                </div><!-- end col -->
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Nombre</label>
                                        <input name="nombre" type="text" required
                                            data-pristine-required-message="Por favor ingrese el nombre completo " placeholder="Ingrese el nombre completo" value="{{mostrar.nPersona}}"
                                            class="form-control" maxlength="40" pattern="[^\s][A-z-À-ž\s]+" oninvalid="this.setCustomValidity('Debes ingresar un nombre. Este no puede contener caracteres especiales ni números.')"/>
                                    </div>
                                </div>
                                
                                <div class=" col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Usuario *</label>
                                        <input name="usuario" type="text" data-pristine-required-message="Por favor ingrese el usuario" placeholder="Ingrese el usuario" value="{{mostrar.username}}" required class="form-control"  maxlength="30" pattern="[^\s][A-z-0-9\s]+" oninvalid="this.setCustomValidity('Debes ingresar un usuario. Este no puede contener caracteres especiales.')"/>
                                        {% for x in errorUsuario %}
                                        <p style="color:red">El usuario ingresado ya existe.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label>Correo *</label>
                                        <input name="correo" type="email" required
                                            data-pristine-required-message="Por favor ingresar el correo electrónico" placeholder="Ingrese el correo electrónico" value="{{mostrar.email}}"
                                            class="form-control" maxlength="50"/>
                                            {% for x in errorCorreo %}
                                            <p style="color:red">El correo ingresado ya existe.</p>
                                            {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label>Contraseña *</label>
                                        <input name="contrasena" type="password" id="pwd" required
                                            data-pristine-required-message="Por favor ingresa la Contraseña" placeholder="Ingresa la contraseña" value="{{mostrar.contrasena}}"
                                            data-pristine-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/"
                                            
                                            class="form-control" maxlength="100"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label>Confirmar contraseña *</label> 
                                        <!-- ACTUALIZAR CAMBIO -->
                                        <input name= "contrasena2" type="password" data-pristine-equals="#pwd"
                                        placeholder="Ingresa la contraseña"
                                            
                                            class="form-control" maxlength="100" />
                                            {% for x in errorContrasena %}
                                            <p style="color:red">Las contraseñas no coinciden.</p>
                                            {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-bottom: 60px;">
                                    <div class="mb-3">
                                        <label class="form-label">Rol *</label>
                                        <select name="rol" required class="form-control form-select">
                                            {% for listar in rol %}
                                            <option value="{{listar.id}}">{{listar.name}}</option>
                                            {% endfor %} 
                                        </select>
                                    </div>
                                </div>
                            </div> 
                        </form>
                    </div>
                    <!--  FORMULARIO CON VALIDACIONES -->
                    
                </div>
                <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-top: 40px; margin-bottom: 20px;" >
                    
                    <button type="submit" form="edit" class="btn btn-primary" style="width: 20%; margin-right: 20px;">Editar Usuario</button>
                    <a href="{% url 'Usuario' %}" type="submit" class="btn btn-danger" style="width: 20%">Cancelar</a>
                </div>
                
            </div> <!-- end col -->
            
        </div> <!-- container-fluid -->
        
    </div> <!-- End Page-content -->
   
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>       
        
<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>   
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
{% endblock extra_js %}
