{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Crear Proveedor{% endblock title %}
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Crear proveedor</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Proveedores </a></li>
                                <li class="breadcrumb-item active"> Crear proveedor </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 60px;" >
                    <div style="align-items: center;">
                        <form id="crearp" method="post"> {% csrf_token %}
                            <input type="hidden" />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Nombre * </label>
                                        {{formulario_proveedor.nombre}}
                                        {% for error in formulario_proveedor.nombre.errors %}
                                          <p style="color:red"> {{error}}</p>
                                        {% endfor %}                                                               
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Empresa *</label>
                                        {{formulario_proveedor.proveedor}}
                                       
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Teléfono *</label>
                                        {{formulario_proveedor.telefono}}
                                        {% for error in formulario_proveedor.telefono.errors %}
                                         <p style="color:red"> {{error}}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label>Correo *</label>
                                        {{formulario_proveedor.correo}}
                                        {% for error in formulario_proveedor.correo.errors %}
                                        <p style="color:red"> {{error}}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class=" col-md-12">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Dirección *</label>
                                        {{formulario_proveedor.direccion}}
                                        {% for error in formulario_proveedor.direccion.errors %}
                                        <p style="color:red"> {{error}}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                            <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-top: 40px;" >
                                <button type="submit" for="crearp" class="btn btn-primary" style="width: 20%; margin-right: 20px;">Guardar</button>
                                <a href="{% url 'Proveedor'%}" type="submit" class="btn btn-danger" style="width: 20%">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- container-fluid -->
    </div> <!-- End Page-content -->
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div> 
<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
{% endblock extra_js %}