<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <form method="POST">{% csrf_token %}
        {{formulario_agenda_costo.idCliente}}
        <label for="">Número de Sesiones</label>
        {{formulario_agenda_costo.sesiones}}
        {% for error in formulario_agenda_costo.sesiones.errors %}
         <p style="color:red"> {{error}}</p>
        {% endfor %}
        <label for="">Costo</label>
        {{formulario_agenda_costo.costo}}
        {% for error in formulario_agenda_costo.costo.errors %}
         <p style="color:red"> {{error}}</p>
        {% endfor %}
        <label for="">Abono</label>
        {{formulario_agenda_costo.abono}}
        {% for error in formulario_agenda_costo.abono.errors %}
         <p style="color:red"> {{error}}</p>
        {% endfor %}
        <button>Guardar</button>
    </form>
</body>
</html>