<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent border-primary">
                <div class="row">
                    <div class="col-lg-5">
                        <h4 class="my-0 text-primary" style="margin-top: 50%;">Historial corporal</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    
                </div>
            </div>
            <!-- end card body -->
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent border-primary">
                <div class="row">
                    <div class="col-lg-5">
                        <h4 class="my-0 text-primary" style="margin-top: 50%;">Historial facial</h4>
                    </div>
                    <div class="col-lg-6 ms-lg-auto">
                        <a href="{% url 'Clientes.Formulario-Facial' mostrar.idCliente %}" type="button"
                            class="btn btn-primary waves-effect " style="margin-left: 43%;"><i
                                class="mdi mdi-face-woman-outline"></i> Adicionar
                            facial
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    
                </div>
            </div>
            <!-- end card body -->
        </div>
    </div>
    <!-- end card -->
</div>