{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Crear Rol{% endblock title %}
{% block extra_css %}

{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Crear rol</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Configuraciones </a></li>
                                <li class="breadcrumb-item active"> Crear rol </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 60px;">
                    <!--  FORMULARIO CON VALIDACIONES -->
                    <form action="{% url 'actualizarRol' mostrar.id %}" id="crearR" method="GET">
                        {% csrf_token %}
                        <input type="hidden" />
                        <div class="row">
                            <div class=" col-md-12">
                                <div class="form-group mb-3">
                                    <label class="form-label">Rol</label>
                                    <input name="nombre" type="text" data-pristine-required-message="Por favor ingrese el rol" placeholder="Ingrese el rol" required class="form-control" value="{{mostrar.name}}" />
                                    <br>
                                    <input type="checkbox" name="permisos" value="Configuracion" >
                                    <label>Configuración</label><br>
                                    <input type="checkbox" name="permisos" value="Insumos">
                                    <label>Insumos</label><br>
                                    <input type="checkbox" name="permisos" value="Clientes">
                                    <label>Clientes</label><br>
                                    <input type="checkbox" name="permisos" value="Servicios">
                                    <label>Servicios</label><br>
                                    <input type="checkbox" name="permisos" value="Compras">
                                    <label>Compras</label><br>
                                    <input type="checkbox" name="permisos" value="Proveedores">
                                    <label>Proveedores</label><br>
                                    <input type="checkbox" name="permisos" value="Usuarios">
                                    <label>Usuarios</label><br>
                                    <input type="checkbox" name="permisos" value="Usuarios">
                                    <label>Citas</label><br>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-top: 40px; margin-bottom: 20px;" >
                            <button type="submit" for="crearR" class="btn btn-primary" style="width: 20%; margin-right: 20px;">Guardar</button>
                            <a href="{% url 'Rol' %}" type="submit" class="btn btn-danger" style="width: 20%">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div> <!-- end col -->
            
        </div> <!-- container-fluid -->
        
    </div> <!-- End Page-content -->
   
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>       
        
<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
{% endblock extra_js %}
<script>
    function myFunction() {
      var x = document.getElementById("myCheck");
      x.checked = true;
      var x = document.getElementById("myCheck");
      x.checked = false;
    }
</script>
    
    </body>
    </html>