{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Crear Corporal{% endblock title %}
{% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Crear Corporal</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Clientes </a></li>
                                <li class="breadcrumb-item active"> Crear cliente </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 60px; ">
                    <div style="text-align: center;">
                        <h5 class="modal-title" id="myExtraLargeModalLabel"> Estado de salud y modo de vida</h5>
                    </div>
                    <div id="basic-pills-wizard" class="twitter-bs-wizard">
                        <ul class="twitter-bs-wizard-nav">
                            <li class="nav-item">
                                <a href="#salud" class="nav-link" data-toggle="tab">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Estado de salud y modo de vida">
                                        <i class="mdi mdi-clipboard-pulse-outline"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#observaciones" class="nav-link" data-toggle="tab">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Observaciones">
                                        <i class="mdi mdi-scale-balance"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#antecedentes-personales" class="nav-link" data-toggle="tab">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Antecedentes Personales">
                                        <i class="mdi mdi-weight-lifter"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#apreciación-visual-corporal" class="nav-link" data-toggle="tab">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Apreciación visual corporal">
                                        <i class="mdi mdi-weight-lifter"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- wizard-nav -->
                        <div class="tab-content twitter-bs-wizard-tab-content">
                            <div class="tab-pane" id="salud">
                                <div class="text-center mb-4" style="text-align: center;">
                                    <h5>Sufre problemas</h5>
                                </div>
                                <form  method="POST" id="crear">{% csrf_token %}
                                    <input value={{idCliente}} name="idCliente" hidden>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group mb-3">
                                                <label class="form-label">Nombre del esteticista *</label>
                                                {{formulario_corporal.nombreE}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label class="form-label">Tensión arterial</label>
                                                {{formulario_corporal.tensionA}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label class="form-label">Digestivo</label>
                                                {{formulario_corporal.digestivo}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label class="form-label">Endocrino</label>
                                                {{formulario_corporal.endrocrino}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label class="form-label">Cardiaco</label>
                                                {{formulario_corporal.cardiacos}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group mb-3">
                                                <label class="form-label">Circulatorio</label>
                                                {{formulario_corporal.circulacion}}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group mb-3">
                                                <div class="mb-3">
                                                    <label for="progresspill-address-input">Otros</label>
                                                    {{formulario_corporal.otrosP}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center mb-4">
                                            <h5>Peso actual</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Kilos *</label>
                                                    {{formulario_corporal.kilos}}
                                                    {% for error in formulario_corporal.kilos.errors %}
                                                    <p style="color:red"> {{error}}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Talla *</label>
                                                    {{formulario_corporal.talla}}
                                                    {% for error in formulario_corporal.talla.errors %}
                                                    <p style="color:red"> {{error}}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Altura *</label>
                                                    {{formulario_corporal.altura}}
                                                    {% for error in formulario_corporal.altura.errors %}
                                                    <p style="color:red"> {{error}}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Masa corporal *</label>
                                                    {{formulario_corporal.masaC}}
                                                    {% for error in formulario_corporal.masaC.errors %}
                                                    <p style="color:red"> {{error}}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="form-label">Silueta</label>
                                                {{formulario_corporal.siluetas}}
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="progresspill-address-input">Cirugias</label>
                                                    {{formulario_corporal.cirugias}}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="progresspill-address-input">Fibrosis</label>
                                                    {{formulario_corporal.fibrosis}}  
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="progresspill-address-input">Costumbres alimentarias</label>
                                                    {{formulario_corporal.costumbresA}}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="progresspill-address-input">Deportes practicados</label>
                                                    {{formulario_corporal.deportesP}}
                                                </div>
                                            </div>
                                            <div class="text-center mb-4">
                                                <h5>Modo de vida</h5>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Modo de vida</label>
                                                    {{formulario_corporal.modoV}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Fuma</label>
                                                    {{formulario_corporal.fuma}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Alcohol</label>
                                                    {{formulario_corporal.alcohol}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Calidad del sueño</label>
                                                    {{formulario_corporal.calidadS}}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="progresspill-address-input">Notas</label>
                                                    {{formulario_corporal.notasV}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="next">
                                            <a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()" title="Este botón nos dirige a la siguiente pagina del formulario">
                                                Siguiente 
                                                <i class="bx bx-chevron-right ms-1"></i>
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                            <div class="tab-pane" id="observaciones">
                                <div>
                                    <div class="text-center mb-4">
                                        <h5>Observaciones</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Problemas a tratar</label>
                                                {{formulario_corporal.problemasT}}
                                            </div>
                                        </div>
                                        <div class="text-center mb-4">
                                            <h5>Grasa localizada</h5>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Abdomen</label>
                                                {{formulario_corporal.abdomen}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Muslos</label>
                                                {{formulario_corporal.muslos}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Nalgas</label>
                                                {{formulario_corporal.nalgas}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Espalda</label>
                                                {{formulario_corporal.espalda}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Piernas</label>
                                                {{formulario_corporal.piernas}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Brazos</label>
                                                {{formulario_corporal.brazos}}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Notas</label>
                                                {{formulario_corporal.notasO}}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Tratamientos recomendados</label>
                                                {{formulario_corporal.tratamientosR}}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Tratamientos efectuados</label>
                                                {{formulario_corporal.tratamientosE}}
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="previous"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()" title="Este botón nos dirige a la pagina anterior del formulario">
                                            <i class="bx bx-chevron-left me-1"></i>Anterior</a>
                                        </li>
                                        <li class="next"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()" title="Este botón nos dirige a la siguiente pagina del formulario">
                                            Siguiente<i class="bx bx-chevron-right ms-1"></i></a>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="antecedentes-personales">
                                <div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Dermatitis</label>
                                                {{formulario_corporal.dermatitis}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Cirugias</label>
                                                {{formulario_corporal.cirugias1}}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Cuales</label>
                                                {{formulario_corporal.cualesC}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Hemofilia</label>
                                                {{formulario_corporal.hemofilia}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Embarazo</label>
                                                {{formulario_corporal.embarazo}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Cáncer</label>
                                                {{formulario_corporal.cancer}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Hepatitis</label>
                                                {{formulario_corporal.hepatitis}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">diabetes</label>
                                                {{formulario_corporal.diabetes}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Artritis</label>
                                                {{formulario_corporal.artritis}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Artrosis</label>
                                                {{formulario_corporal.artrosis}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Escoliosis</label>
                                                {{formulario_corporal.escoliosis}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Fracturas</label>
                                                {{formulario_corporal.fracturas}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">implantes Metálicos</label>
                                                {{formulario_corporal.implantesM}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Hipertensión</label>
                                                {{formulario_corporal.hipertencion}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Hernias discales</label>
                                                {{formulario_corporal.herniasD}}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Donde</label>
                                                {{formulario_corporal.dondeHD}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Híperlordosis</label>
                                                {{formulario_corporal.hiperlordosis}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label"> Hípercifosis</label>
                                                {{formulario_corporal.hipercifosis}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Problemas cardiacos</label>
                                                {{formulario_corporal.problemasC}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Hipotensión</label>
                                                {{formulario_corporal.hipotension}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Osteoporosis</label>
                                                {{formulario_corporal.osteoporosis}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Osteomielitis</label>
                                                {{formulario_corporal.osteomielitis}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Comedones</label>
                                                {{formulario_corporal.comedones}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Pústulas</label>
                                                {{formulario_corporal.pustulas}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label"> Brotes </label>
                                                {{formulario_corporal.brotes}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Quistes</label>
                                                {{formulario_corporal.quistes}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Nódulos</label>
                                                {{formulario_corporal.nudulos}}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Zonas</label>
                                                {{formulario_corporal.zonasA}}
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="previous">
                                            <a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()" title="Este botón nos dirige a la pagina anterior del formulario">
                                                <i class="bx bx-chevron-left me-1" ></i> Anterior </a>
                                        </li>
                                        <li class="next">
                                            <a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()" title="Este botón nos dirige a la siguiente pagina del formulario">
                                            Siguiente <i class="bx bx-chevron-right ms-1"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="apreciación-visual-corporal">
                                <div>
                                    <div class="text-center mb-4">
                                        <h5>Apreciación visual corporal</h5>
                                    </div>
                                    <div class="row">
                                        <div class="text-center mb-4">
                                            <h5>Adiposidad</h5>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Localizada</label>
                                                {{formulario_corporal.adiposidadL}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Zona</label>
                                                {{formulario_corporal.adiposidadZ}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Completa</label>
                                                {{formulario_corporal.adiposidadC}}
                                            </div>
                                        </div>
                                        <div class="text-center mb-4">
                                            <h5>Cicatrices o estrías</h5>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Localizada</label>
                                                {{formulario_corporal.cicatricesEL}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Zona</label>
                                                {{formulario_corporal.cicatricesEZ}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Tipo</label>
                                                {{formulario_corporal.cicatricesET}}
                                            </div>
                                        </div>
                                        <div class="text-center mb-4">
                                            <h5>Flacidez</h5>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Localizada</label>
                                                {{formulario_corporal.flacidezL}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Zona</label>
                                                {{formulario_corporal.flacidezZ}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Completa</label>
                                                {{formulario_corporal.flacidezC}}
                                            </div>
                                        </div>
                                        <div class="text-center mb-4">
                                            <h5>Alt. Vasculares</h5>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Localizada</label>
                                                {{formulario_corporal.altVascularesL}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Zona</label>
                                                {{formulario_corporal.altVascularesZ}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Tipo</label>
                                                {{formulario_corporal.altVascularesT}}
                                            </div>
                                        </div>
                                        <div class="text-center mb-4">
                                            <h5>Celulitis</h5>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Localizada</label>
                                                {{formulario_corporal.celulitisL}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Zona</label>
                                                {{formulario_corporal.celulitisZ}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Completa</label>
                                                {{formulario_corporal.celulitisC}}
                                            </div>
                                        </div>
                                        <div class="text-center mb-4">
                                            <h5>Temperatura</h5>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">Temperatura</label>
                                                {{formulario_corporal.temperatura}}
                                            </div>
                                        </div>
                                        <div class="text-center mb-4">
                                            <h5>Alt. Pigmentarias</h5>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Amarillo rojizo</label>
                                                {{formulario_corporal.altpigmentariasAR}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Amarillo leve</label>
                                                {{formulario_corporal.altpigmentariasAL}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Amarillo profundo</label>
                                                {{formulario_corporal.altpigmentariasAP}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Amarillo medio rojizo</label>
                                                {{formulario_corporal.altpigmentariasAMR}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label"> Amarillo leve verdoso </label>
                                                {{formulario_corporal.altpigmentariasALV}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Amarillo profundo verdoso</label>
                                                {{formulario_corporal.altpigmentariasAPV}}
                                            </div>
                                        </div>
                                        <div class="text-center mb-4">
                                            <h5>Sensación</h5>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Levemente gruesa</label>
                                                {{formulario_corporal.sensacionLG}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Medianamente gruesa</label>
                                                {{formulario_corporal.sensacionMG}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Muy gruesa</label>
                                                {{formulario_corporal.sensacionMUG}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Levemente fina</label>
                                                {{formulario_corporal.sensacionLF}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Medianamente fina</label>
                                                {{formulario_corporal.sensacionMF}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Muy fina</label>
                                                {{formulario_corporal.sensacionMUF}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Piel deshidratada</label>
                                                {{formulario_corporal.sensacionPD}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Piel infiltrada</label>
                                                {{formulario_corporal.sensacionPI}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Retiene líquidos</label>
                                                {{formulario_corporal.retieneL}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Varices</label>
                                                {{formulario_corporal.varices}}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label">Arañitas</label>
                                                {{formulario_corporal.aranitas}}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Observaciones</label>
                                                {{formulario_corporal.observaciones}}
                                            </div>
                                        </div>
                                        <ul class="pager wizard twitter-bs-wizard-pager-link">
                                            <li class="previous">
                                                <a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()" title="Este botón nos dirige a la pagina anterior del formulario">
                                                    <i class="bx bx-chevron-left me-1"></i> Anterior </a>
                                            </li>
                                            <li class="float-end"> 
                                                <button type="submit" for="crear" class="btn btn-primary" title="Este botón nos permite guardar los datos ingresados en el formulario">
                                                    Guardar
                                                    <i class="mdi mdi-content-save-outline ms-1"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    </form>

                                    <!-- <li class="float-end"><a href="/CrearCorporal/{{cliente.idCliente}}" class="btn btn-primary"
                                                for="crear">Guardar</a>
                                        </li> -->
                                
                                </div>
                            </div>
                            <!-- tab pane -->
                        </div>
                        <!-- end tab content -->
                    </div>
                </div>
            </div>

        </div> <!-- container-fluid -->

    </div> <!-- End Page-content -->

    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>

<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- Table Editable plugin -->
<script src="{% static 'libs/table-edits/build/table-edits.min.js'%}"></script>

<script src="{% static 'js/pages/table-editable.int.js'%}"></script>
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
<!-- twitter-bootstrap-wizard js -->
<script src="{% static 'libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js'%}"></script>
<script src="{% static 'libs/twitter-bootstrap-wizard/prettify.js'%}"></script>
<!-- form wizard init -->
<script src="{% static 'js/pages/form-wizard.init.js'%}"></script>
{% endblock extra_js %}