{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Crear Facial{% endblock title %}
{% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Crear facial</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Clientes > Ver detalle </a>
                                </li>
                                <li class="breadcrumb-item active"> crear facial</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 60px;">
                    <div id="progrss-wizard" class="twitter-bs-wizard">
                        <ul class="twitter-bs-wizard-nav nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a href="#factores-agravantes" class="nav-link" data-toggle="tab">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Factores Agravantes">
                                        <i data-feather="activity"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#análisis-de-piel" class="nav-link" data-toggle="tab">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Analisis de piel">
                                        <i class="mdi mdi-face-recognition"></i>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#cuidados-diarios" class="nav-link" data-toggle="tab">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Cuidados diarios">
                                        <i class="fas fa-hand-holding-water "></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- wizard-nav -->
                        <div class="tab-content twitter-bs-wizard-tab-content">
                            <div class="tab-pane" id="factores-agravantes">
                                <div class="text-center mb-4">
                                    <h4>Factores Agravantes</h4>
                                </div>
                                <form method="POST" id="crear">{% csrf_token %}
                                    <input value={{idCliente}} name="idCliente" hidden>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-3">
                                            <label class="form-label">Nombre del esteticista *</label>
                                            {{formulario_facial.nombreE}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Actualmente está en tratamiento médico</label>
                                                {{formulario_facial.tratamientoM}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Cuál</label>
                                                {{formulario_facial.cualTM}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Sustitución hormonal</label>
                                                {{formulario_facial.sustitucionH}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Toma anticonceptivo</label>
                                                {{formulario_facial.tomaA}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Drogas</label>
                                                {{formulario_facial.drogas}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Alimentos preferidos</label>
                                                {{formulario_facial.alimentosP}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Alimentos rechazados</label>
                                                {{formulario_facial.alimentosR}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Fuma</label>
                                                {{formulario_facial.fuma}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Toma licor</label>
                                                {{formulario_facial.tomaL}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Se protege del sol</label>
                                                {{formulario_facial.protegeS}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Duerme bien</label>
                                                {{formulario_facial.duermeB}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label">Menopausia</label>
                                                {{formulario_facial.menopausia}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Toma medicamentos orales o tópicos</label>
                                                {{formulario_facial.medicamentosOT}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">¿Cuáles?</label>
                                                {{formulario_facial.cualesOT}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Padece de estrés</label>
                                                {{formulario_facial.padeceE}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Ha tenido cáncer de piel</label>
                                                {{formulario_facial.cancerP}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Asma</label>
                                                {{formulario_facial.asma}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Lupus</label>
                                                {{formulario_facial.lupus}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Herpes</label>
                                                {{formulario_facial.herpes}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Hepatitis</label>
                                                {{formulario_facial.hepatitis}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Epilepsia</label>
                                                {{formulario_facial.epilepsias}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Dolor de cabeza</label>
                                                {{formulario_facial.dolorC}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Ampollas febriles</label>
                                                {{formulario_facial.ampollasF}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Tiroides</label>
                                                {{formulario_facial.tiroides}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Problemas cardiacos</label>
                                                {{formulario_facial.problemasC}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Psicológicos</label>
                                                {{formulario_facial.psicologicos}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Urinarios</label>
                                                {{formulario_facial.urinarios}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Nasales</label>
                                                {{formulario_facial.nasales}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Digestivos</label>
                                                {{formulario_facial.digestivos}}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="text-center mb-4">
                                            <h5>Está utilizando o uso</h5>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Alfahidroxiacidos</label>
                                                {{formulario_facial.alfahidroxiacidos}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Retín A</label>
                                                {{formulario_facial.retinA}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Differin</label>
                                                {{formulario_facial.differin}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label"> Accutane </label>
                                                {{formulario_facial.accutane}}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">Motivo de la consulta </label>
                                                {{formulario_facial.motivoC}}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="progresspill-address-input">¿Es alérgico a algún producto cosmético o medicamento?</label>
                                                {{formulario_facial.productoCM}}
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="next"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()" title="Este botón nos dirige a la siguiente pagina del formulario">
                                            Siguiente 
                                            <i class="bx bx-chevron-right ms-1"></i></a>
                                        </li>
                                    </ul>
                            </div>
                            <div class="tab-pane" id="análisis-de-piel">
                                <div>
                                    <div class="text-center mb-4">
                                        <h4>Análisis de piel</h4>
                                    </div>
                                    
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Textura</h5>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label">Normal</label>
                                                    {{formulario_facial.normal}}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label">Gruesa</label>
                                                    {{formulario_facial.gruesa}}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label">Áspera</label>
                                                    {{formulario_facial.aspera}}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label">Suave</label>
                                                    {{formulario_facial.suave}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Aspecto del poro</h5>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Normal</label>
                                                    {{formulario_facial.normal1}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Cerrado</label>
                                                    {{formulario_facial.cerrado}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Dilatado</label>
                                                    {{formulario_facial.dilatado}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Billo</h5>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Zonas mates</label>
                                                    {{formulario_facial.zonasM}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Zonas billantes</label>
                                                    {{formulario_facial.zonasB}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Grado de hidratación </h5>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Normal</label>
                                                    {{formulario_facial.normal2}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Deshidratada</label>
                                                    {{formulario_facial.deshidratada}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Hiperdeshidratada</label>
                                                    {{formulario_facial.hiperdeshidratada}}
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Fototipo de piel </h5>
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="mb-3">
                                                    <label class="form-label">Fototipo</label>
                                                    {{formulario_facial.fototipoP}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Alteraciones del envejecimiento</h5>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label">Lineas Finas</label>
                                                    {{formulario_facial.lineasF}}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label">Profundas</label>
                                                    {{formulario_facial.profundas}}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label">Flacidez</label>
                                                    {{formulario_facial.flacidez}}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label">Párpados</label>
                                                    {{formulario_facial.parpados}}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label">Cuello</label>
                                                    {{formulario_facial.cuello}}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label">Nosogenianos</label>
                                                    {{formulario_facial.nasogenianos}}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label">Labios</label>
                                                    {{formulario_facial.labios}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Acné (Desde cuándo)</h5>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Comedones</label>
                                                    {{formulario_facial.comedones}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Millas</label>
                                                    {{formulario_facial.milias}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Quistes</label>
                                                    {{formulario_facial.quistes}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Pigmentación</h5>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Melasma</label>
                                                    {{formulario_facial.melasma}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Hipercromía</label>
                                                    {{formulario_facial.hipercromia}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Bolsas palpebrales</h5>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Edema</label>
                                                    {{formulario_facial.edema}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Grasa</label>
                                                    {{formulario_facial.grasa}}
                                                </div>
                                            </div>
                                        </div>
                    
                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="previous"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()" title="Este botón nos dirige a la pagina anterior del formulario">
                                            <i class="bx bx-chevron-left me-1"></i> 
                                            Anterior</a>
                                        </li>
                                        <li class="next"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()" title="Este botón nos dirige a la siguiente pagina del formulario">
                                            Siguiente 
                                            <i class="bx bx-chevron-right ms-1"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="cuidados-diarios">
                                <div>
                                    <div class="text-center mb-4">
                                        <h4>Cuidados que realiza diariamente</h4>
                                    </div>
                                    
                                        <br>
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Rutina diaria de higiene</h5>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="progresspill-address-input">Cuales</label>
                                                    {{formulario_facial.rutinasH}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Cuidados habituales</h5>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="progresspill-address-input">Cuales</label>
                                                    {{formulario_facial.cuidadosH}}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Mensuales</label>
                                                    {{formulario_facial.mensuales}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-center mb-4">
                                                <h5>Productos que utiliza habitualmente</h5>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="progresspill-address-input">Cuales</label>
                                                    {{formulario_facial.productoH}}
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="pager wizard twitter-bs-wizard-pager-link">
                                            <li class="previous"><a href="javascript: void(0);" class="btn btn-primary"
                                                    onclick="nextTab()" title="Este botón nos dirige a la pagina anterior del formulario"><i class="bx bx-chevron-left me-1" ></i> Anterior</a>
                                            </li>
                                            <li class="float-end"> 
                                                <button type="submit" for="crear" class="btn btn-primary" title="Este botón nos permite guardar los datos ingresados en el formulario">
                                                    Guardar
                                                    <i class="mdi mdi-content-save-outline ms-1"></i>
                                                </button>
                                            </li>
                                        </ul>
                                        <!-- uso de for en el boton y id del formulario -->
                                    
                                    </form>
                                    <!-- <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="previous"><a href="javascript: void(0);" class="btn btn-primary"
                                                onclick="nextTab()"><i class="bx bx-chevron-left me-1"></i> Anterior</a>
                                        </li>
                                        <li class="float-end"><a href="javascript: void(0);" class="btn btn-primary"
                                                data-bs-toggle="modal" data-bs-target=".confirmModal">Guardar</a>
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->

        </div> <!-- container-fluid -->

    </div> <!-- End Page-content -->

    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>

<!-- end main content-->
{% endblock content %}

{% block extra_js %}

<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<!-- twitter-bootstrap-wizard js -->
<script src="{% static 'libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js'%}"></script>
<script src="{% static 'libs/twitter-bootstrap-wizard/prettify.js'%}"></script>
<!-- form wizard init -->
<script src="{% static 'js/pages/form-wizard.init.js'%}"></script>
<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>

{% endblock extra_js %}