{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Crear medidas{% endblock title %}
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
   <!-- color picker css -->
{% endblock extra_css %}
{% block content %}
    <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h3 class="mb-sm-0 font-size-32">Crear pagos y sesiones</h3>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Clientes</a></li>
                                        <li class="breadcrumb-item active">Crear pago y sesion</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body" style="margin: 60px;">
                                    <form action="{% url 'Clientes.Ver-Detalles.Crear-Pagos-Sesiones-Corporal' corporal.idCorporal %}" id="CM" method="GET">
                                        {% csrf_token %}
                                        <input type="hidden" />
                                        <div class="row" style="justify-content: center;">
                                            <div class="col-md-7">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Fecha</label>
                                                    <input name="fecha" type="date" required
                                                    data-pristine-required-message="Campo requerido" placeholder=""
                                                    class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Cantidad de sesiones</label>
                                                    <input name="secionesC" type="text" required
                                                    data-pristine-required-message="Campo requerido" placeholder=""
                                                    class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Valor</label>
                                                    <input name="valor" type="text" required
                                                    data-pristine-required-message="Campo requerido" placeholder=""
                                                    class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="text-align: center;">
                                            <button type="submit" for="CM" class="btn btn-primary" style="width: 20%;">Guardar</button>
                                            <a href="{% url 'Clientes' %}" type="submit" class="btn btn-danger" style="width: 20%">Cancelar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div> <!-- container-fluid -->
                
            </div> <!-- End Page-content -->
           
            {% block footer %}
                {% include 'partials/footer.html' %}
            {% endblock footer %}
        </div>
    <!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- Table Editable plugin -->
<script src="{% static 'libs/table-edits/build/table-edits.min.js'%}"></script>

<script src="{% static 'js/pages/table-editable.int.js'%}"></script> 
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>   
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
<!-- color picker js -->
<script src="{% static 'libs/@simonwep/pickr/dist/pickr.min.js'%}"></script>
<script src="{% static 'libs/@simonwep/pickr/dist/pickr.es5.min.js'%}"></script>
<!-- form wizard init -->
<script src="{% static 'js/pages/form-wizard.init.js'%}"></script>
{% endblock extra_js %}