{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Crear Cliente{% endblock title %}
{% block extra_css %}
    DataTables
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Crear cliente</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Clientes </a></li>
                                <li class="breadcrumb-item active"> Crear cliente </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 60px; " >
                    <!--  FORMULARIO CON VALIDACIONES -->
                    <form id="crear" method="POST" id="">
                        {% csrf_token %}
                        <input type="hidden" />
                        <div class="row">
                            <div class="col-xl-4 col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Nombre *</label>
                                    {{formulario_cliente.nombre}}
                                    {% for error in formulario_cliente.nombre.errors %}
                                    <p style="color:red"> {{error}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Documento *</label>
                                    {{formulario_cliente.documento}}
                                    {% for error in formulario_cliente.documento.errors %}
                                    <p style="color:red"> {{error}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Sexo</label>
                                    {{formulario_cliente.sexo}}
                                </div>
                            </div>  
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Estado civil</label>
                                    {{formulario_cliente.estadoCivil}}
                                </div>
                            </div>  
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Número de hijos</label>
                                    {{formulario_cliente.numeroHijos}}
                                    {% for error in formulario_cliente.numeroHijos.errors %}
                                    <p style="color:red"> {{error}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Fecha de nacimiento *</label>
                                    {{formulario_cliente.fechaNacimiento}}
                                </div>
                            </div> 
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Teléfono *</label>
                                    {{formulario_cliente.telefono}}
                                    {% for error in formulario_cliente.telefono.errors %}
                                    <p style="color:red"> {{error}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Dirección</label>
                                    {{formulario_cliente.direccion}}
                                    {% for error in formulario_cliente.direccion.errors %}
                                    <p style="color:red"> {{error}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Correo</label>
                                    {{formulario_cliente.correo}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style=" display: flex; justify-content: center; align-items: center; margin-top: 40px; margin-bottom: 20px;" >
                            <button type="submit" class="btn btn-primary" for="crear" style="width: 20%; margin-right: 20px;">Guardar</button>
                            <a href="{% url 'Clientes' %}" type="submit" class="btn btn-danger" style="width: 20%">Cancelar</a>
                            <!-- uso de for en el boton y id del formulario -->
                        </div>
                    </form>
                </div>
            </div> <!-- end col -->
            
        </div> <!-- container-fluid -->
        
    </div> <!-- End Page-content -->
   
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>       
        
<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- Table Editable plugin -->
<script src="{% static 'libs/table-edits/build/table-edits.min.js'%}"></script>

<script src="{% static 'js/pages/table-editable.int.js'%}"></script> 
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>   
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>
<!-- Modal js -->
<script src="{% static 'js/pages/modal.init.js'%}"></script>
{% endblock extra_js %}