{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Historial facial{% endblock title %}
{% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet"
    type="text/css" />
{% endblock extra_css %}
{% block content %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-sm-0 font-size-40">Historial facial</h3>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Paginas </a></li>
                                <li class="breadcrumb-item active">Clientes > Ver detalle > Historial facial</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="col-lg-12">
                    <div class="card-header bg-transparent border-primary">
                        <h5 class="my-0 text-primary"><i class="mdi mdi-pulse mdi-24px me-3"></i>Información estetisista
                        </h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group mb-3">
                                            <label class="form-label">Nombre del estetisista</label>
                                            <input name="nombreE" type="text" required
                                                data-pristine-required-message="Por favor ingrese el nombre completo "
                                                placeholder="Ingrese el nombre completo" value="{{mostrar.nombreE}}"
                                                readonly class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="col-lg-12">
                    <div class="card-header bg-transparent border-primary">
                        <h5 class="my-0 text-primary"><i class="mdi mdi-pulse mdi-24px me-3"></i>Factores Agravantes
                        </h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">Actualmente esta en un tratamiento
                                                    medico</label>
                                                <input type="text" class="form-control" value="{{mostrar.tratamientoM}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="mb-3">
                                            <label for="progresspill-address-input">Cuál</label>
                                            <textarea name="cualTM" id="progresspill-address-input" class="form-control"
                                                rows="1" readonly> {{mostrar.cualTM}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">Sustitución hormonal</label>
                                                <input type="text" class="form-control" value="{{mostrar.sustitucionH}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">Toma anticonceptivo</label>
                                                <input type="text" class="form-control" value="{{mostrar.tomaA}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Drogas</label>
                                                <input type="text" class="form-control" value="{{mostrar.drogas}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="progresspill-address-input">Alimentos preferidos</label>
                                            <textarea name="cualTM" id="progresspill-address-input" class="form-control"
                                                rows="1" readonly> {{mostrar.alimentosP}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="progresspill-address-input">Alimentos rechazados</label>
                                            <textarea name="cualTM" id="progresspill-address-input" class="form-control"
                                                rows="1" readonly> {{mostrar.alimentosR}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Fuma</label>
                                                <input type="text" class="form-control" value="{{mostrar.fuma}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Toma licor</label>
                                                <input type="text" class="form-control" value="{{mostrar.tomaL}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Se protege del sol</label>
                                                <input type="text" class="form-control" value="{{mostrar.protegeS}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Duerme bien</label>
                                                <input type="text" class="form-control" value="{{mostrar.duermeB}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Menopausia</label>
                                                <input type="text" class="form-control" value="{{mostrar.menopausia}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Toma medicamentos orales o tópicos</label>
                                                <input type="text" class="form-control"
                                                    value="{{mostrar.medicamentosOT}}" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="progresspill-address-input">Cuales</label>
                                            <textarea name="cualTM" id="progresspill-address-input" class="form-control"
                                                rows="1" readonly> {{mostrar.cualesOT}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Padece de estrés</label>
                                                <input type="text" class="form-control" value="{{mostrar.padeceE}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Ha tenido cáncer de piel</label>
                                                <input type="text" class="form-control" value="{{mostrar.cancerP}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Asma</label>
                                                <input type="text" class="form-control" value="{{mostrar.asma}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Lupus</label>
                                                <input type="text" class="form-control" value="{{mostrar.lupus}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Herpes</label>
                                                <input type="text" class="form-control" value="{{mostrar.herpes}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Hepatitis</label>
                                                <input type="text" class="form-control" value="{{mostrar.hepatitis}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Epilepsia</label>
                                                <input type="text" class="form-control" value="{{mostrar.epilepsia}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Dolor de cabeza</label>
                                                <input type="text" class="form-control" value="{{mostrar.dolorC}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Ampollas febriles</label>
                                                <input type="text" class="form-control" value="{{mostrar.ampollasF}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Tiroides</label>
                                                <input type="text" class="form-control" value="{{mostrar.tiroides}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Problemas cardiacos</label>
                                                <input type="text" class="form-control" value="{{mostrar.problemasC}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Psicológicos</label>
                                                <input type="text" class="form-control" value="{{mostrar.psicologicos}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Urinarios</label>
                                                <input type="text" class="form-control" value="{{mostrar.urinarios}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Nasales</label>
                                                <input type="text" class="form-control" value="{{mostrar.nasales}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Digestivos</label>
                                                <input type="text" class="form-control" value="{{mostrar.digestivos}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-4" style="margin-top: 50px;">
                                    <h3>Está utilizando o uso</h3>
                                </div>
                                <div class="row" style="margin-top: 50px;">
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Alfahidroxiacidos</label>
                                                <input type="text" class="form-control"
                                                    value="{{mostrar.alfahidroxiacidos}}" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Retín A</label>
                                                <input type="text" class="form-control" value="{{mostrar.retinA}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Differin</label>
                                                <input type="text" class="form-control" value="{{mostrar.differin}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Accutane</label>
                                                <input type="text" class="form-control" value="{{mostrar.accutane}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="progresspill-address-input">Motivo de la consulta </label>
                                            <textarea name="cualTM" id="progresspill-address-input" class="form-control"
                                                rows="3" readonly> {{mostrar.motivoC}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="progresspill-address-input">Es alérgico a algún producto
                                                cosmético o medicamento</label>
                                            <textarea name="cualTM" id="progresspill-address-input" class="form-control"
                                                rows="3" readonly> {{mostrar.productoCM}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="col-lg-12">
                    <div class="card-header bg-transparent border-primary">
                        <h5 class="my-0 text-primary"><i class="mdi mdi-pulse mdi-24px me-3"></i>Análisis de piel</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-body p-4">
                                <div class="text-center mb-4" style="margin-top: 50px;">
                                    <h3>Textura</h3>
                                </div>
                                <div class="row" style="margin-top: 50px;">
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Normal</label>
                                                <input type="text" class="form-control" value="{{mostrar.normal}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Gruesa</label>
                                                <input type="text" class="form-control" value="{{mostrar.gruesa}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Áspera</label>
                                                <input type="text" class="form-control" value="{{mostrar.aspera}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Suave</label>
                                                <input type="text" class="form-control" value="{{mostrar.suave}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-4" style="margin-top: 50px;">
                                    <h3>
                                        Aspecto del poro
                                    </h3>
                                </div>
                                <div class="row" style="margin-top: 50px;">
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Normal</label>
                                                <input type="text" class="form-control" value="{{mostrar.normal1}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Cerrado</label>
                                                <input type="text" class="form-control" value="{{mostrar.cerrado}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Dilatado</label>
                                                <input type="text" class="form-control" value="{{mostrar.dilatado}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-4" style="margin-top: 50px;">
                                    <h3> Brillo</h3>
                                </div>
                                <div class="row" style="margin-top: 50px;">
                                    <div class="col-lg-6">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Zonas mates</label>
                                                <input type="text" class="form-control" value="{{mostrar.zonasM}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Zonas billantes</label>
                                                <input type="text" class="form-control" value="{{mostrar.zonasB}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-4" style="margin-top: 20px;">
                                    <h3>Grado de hidratación</h3>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Normal</label>
                                                <input type="text" class="form-control" value="{{mostrar.normal2}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Deshidratada</label>
                                                <input type="text" class="form-control" value="{{mostrar.deshidratada}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Hiperdeshidratada</label>
                                                <input type="text" class="form-control"
                                                    value="{{mostrar.hiperdeshidratada}}" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-4" style="margin-top: 20px;">
                                    <h3>Fototipo de piel</h3>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-12">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Fototipo</label>
                                                <input type="text" class="form-control" value="{{mostrar.fototipoP}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-4" style="margin-top: 20px;">
                                    <h3>Alteraciones del envejecimiento</h3>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Lineas Finas</label>
                                                <input type="text" class="form-control" value="{{mostrar.lineasF}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Profundas</label>
                                                <input type="text" class="form-control" value="{{mostrar.profundas}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Flacidez</label>
                                                <input type="text" class="form-control" value="{{mostrar.flacidez}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Párpados</label>
                                                <input type="text" class="form-control" value="{{mostrar.parpados}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Cuello</label>
                                                <input type="text" class="form-control" value="{{mostrar.cuello}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Nosogenianos</label>
                                                <input type="text" class="form-control" value="{{mostrar.nasogenianos}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Labios</label>
                                                <input type="text" class="form-control" value="{{mostrar.labios}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-4" style="margin-top: 20px;">
                                    <h3>Acné (Desde cuándo)</h3>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Comedones</label>
                                                <input type="text" class="form-control" value="{{mostrar.comedones}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Millas</label>
                                                <input type="text" class="form-control" value="{{mostrar.milias}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Quistes</label>
                                                <input type="text" class="form-control" value="{{mostrar.quistes}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-4" style="margin-top: 20px;">
                                    <h3>Pigmentación</h3>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-6">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Melasma</label>
                                                <input type="text" class="form-control" value="{{mostrar.melasma}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Hipercromía</label>
                                                <input type="text" class="form-control" value="{{mostrar.hipercromia}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-4" style="margin-top: 20px;">
                                    <h3>Bolsas palpebrales</h3>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-6">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Edema</label>
                                                <input type="text" class="form-control" value="{{mostrar.edema}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Grasa</label>
                                                <input type="text" class="form-control" value="{{mostrar.grasa}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="col-lg-12">
                    <div class="card-header bg-transparent border-primary">
                        <h5 class="my-0 text-primary"><i class="mdi mdi-pulse mdi-24px me-3"></i>Cuidados que realiza
                            diariamente</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-body p-4">
                                <div class="text-center mb-4" style="margin-top: 20px;">
                                    <h3>Rutina diaria de higiene</h3>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label for="progresspill-address-input">Cuales</label>
                                            <textarea name="cualTM" id="progresspill-address-input" class="form-control"
                                                rows="3" readonly>{{mostrar.rutinasH}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-4">
                                <div class="text-center mb-4" style="margin-top: 20px;">
                                    <h3>Cuidados habituales</h3>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-10">
                                        <div class="mb-3">
                                            <label for="progresspill-address-input">Cuales</label>
                                            <textarea name="cualTM" id="progresspill-address-input" class="form-control"
                                                rows="3" readonly>{{mostrar.cuidadosH}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mt-4 mt-lg-0">
                                            <div class="mb-3">
                                                <label class="card-title">
                                                    Mensuales</label>
                                                <input type="text" class="form-control" value="{{mostrar.mensuales}}"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-4">
                                <div class="text-center mb-4" style="margin-top: 20px;">
                                    <h3>Productos que utiliza habitualmente</h3>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label for="progresspill-address-input">Cuales</label>
                                            <textarea name="cualTM" id="progresspill-address-input" class="form-control"
                                                rows="3" readonly>{{mostrar.productoH}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-12">
                    <div class="card">
                        <div class="card-header bg-transparent border-primary">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h4 class="my-0 text-primary" style="margin-top: 50%;">Pagos y sesiones</h4>
                                </div>
                                <div class="col-lg-6 ms-lg-auto">
                                    <a href="{% url 'Clientes.Ver-Detalles.Formulario-Pagos-Sesiones-Facial' mostrar.idFacial %}"
                                        type="button" class="btn btn-primary waves-effect " style="margin-left: 40%;"><i
                                            class="mdi mdi-account-cash-outline"></i> Crear pago y sesion
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-nowrap align-middle">
                                    <thead>
                                        <tr>
                                            <th>Fecha de creación</th>
                                            <th>Valor</th>
                                            <th>Sesisones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for listar in seciones %}
                                        <tr>
                                            <td>{{listar.fecha}}</td>
                                            <td>{{listar.Nseciones}}</td>
                                            <td>{{listar.valor}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                </div>
            </div>
        </div> <!-- container-fluid -->
    </div> <!-- End Page-content -->

    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>

<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<!-- twitter-bootstrap-wizard js -->
<script src="{% static 'libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js'%}"></script>
<script src="{% static 'libs/twitter-bootstrap-wizard/prettify.js'%}"></script>
<!-- form wizard init -->
<script src="{% static 'js/pages/form-wizard.init.js'%}"></script>
<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js'%}"></script>
<!-- pristine js -->
<script src="{% static 'libs/pristinejs/dist/pristine.min.js'%}"></script>
<!-- form validation -->
<script src="{% static 'js/pages/form-validation.init.js'%}"></script>

{% endblock extra_js %}